@font-face {
  font-family: Batch;
  src: url("../font/batch-icons-webfont.eot");
  src: url("../font/batch-icons-webfont.eot?#iefix") format("embedded-opentype"), url("../font/batch-icons-webfont.woff") format("woff"), url("../font/batch-icons-webfont.ttf") format("truetype"), url("../font/batch-icons-webfont.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../scss/batch-webfont.scss */
.batch {
  display: inline-block;
  font-family: Batch;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-blank-left:before {
  content: "\f000";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-blank-mid:before {
  content: "\f001";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-blank-right:before {
  content: "\f002";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-left:before {
  content: "\f003";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-mid:before {
  content: "\f004";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-right:before {
  content: "\f005";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-black-left:before {
  content: "\f006";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-black-mid:before {
  content: "\f007";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialog-black-right:before {
  content: "\f008";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialogs-left:before {
  content: "\f009";
}

/* line 34, ../scss/batch-webfont.scss */
.batch-dialogs-right:before {
  content: "\f00A";
}
